{% extends 'base.html' %}


{% block head_title %}
     This is me
{% endblock head_title%}


{% block content %}
    <div class="row text-center mb-4">
        <div class="col">
            <h1>Welcome to Tweetme 2</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form action="/create-tweet" id="tweet-create-form" method="post" class="form">
                   {% csrf_token %}
                   <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
                   <input type="hidden" value="/" name="next" />
                   <textarea required='required' class="form-control mb-2" name="content" placeholder="your message"></textarea>
                   <button type="submit" class="btn btn-primary">Tweet</button>
            </form>
        </div>
    </div>

  <div class="row" id="tweets">
      Loading....
  </div>


  <script>
      function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

      function handleTweetFormError(msg, display){
           var myErrorDiv  = document.getElementById("tweet-create-form-error")
           if(display === true){
               //show error
               myErrorDiv.setAttribute("class","d-block alert alert-danger")
               myErrorDiv.innerText = msg
           }else{
             //hide error
             myErrorDiv.setAttribute("class","d-none alert alert-danger")
           }
      }
      function handleTweetCreateFormDidSubmit(event){
          event.preventDefault()
          const myForm = event.target
          const myFormData = new FormData(myForm)
          const url = myForm.getAttribute("action")
          const method  = myForm.getAttribute("method")
          const xhr = new XMLHttpRequest()
          const responseType = "json"
          xhr.responseType = responseType
          xhr.open(method,url)
          xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
          xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
          xhr.onload = ()=>{
              if(xhr.status === 201){
                handleTweetFormError("",false)
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson);
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml 
                myForm.reset();
              }else if(xhr.status === 400){
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                if(contentError){
                  contentErrorMsg = contentError[0]
                  if (contentErrorMsg){
                    handleTweetFormError(contentErrorMsg, true)
                  }else{
                    alert("an error has occured. Please Try Again.")
                  }
                }else{
                  alert("Error occured. pLEASE TRY AGAIN. ")
                }
              }else if(xhr.status === 401){
                alert("You Must Log-In!")
                window.location.href = "/login"
              }else if(xhr.status === 403){
                alert("You Must Log-In!")
                window.location.href = "/login"
              }
              else if(xhr.status === 500){
                alert(" status : 500 \n There was a server error,please try again")
              }
          }
          xhr.onerror = ()=>{
            alert("There was an error,please try again")
          }
          xhr.send(myFormData)
      }
      const tweetCreateFormEl = document.getElementById("tweet-create-form")
      tweetCreateFormEl.addEventListener("submit",handleTweetCreateFormDidSubmit)

      const tweetsContainerElement = document.getElementById("tweets")
      function loadTweets(tweetsElement){
      const xhr = new XMLHttpRequest()
      const method = 'GET'
      const url = "/tweets"
      const responseType = "json"
      xhr.responseType = responseType

      xhr.open(method,url)
      console.log("xhr: ",xhr)
      xhr.onload=()=>{
          var serverResponse = xhr.response
          var listedItems = serverResponse
          var finalTweetStr = ""
          var i;
          for(i = 0;i<listedItems.length;i++){
              var tweet = listedItems[i]
              var currentItem = formatTweetElement(tweet)
              finalTweetStr +=currentItem
            }
          tweetsElement.innerHTML = finalTweetStr  
        }
        xhr.send()
      }

      loadTweets(tweetsContainerElement);
    //    tweetsElement.innerHTML = "Loading..."

     
      function handleTweetActionBtn(tweet_id,currentCount,action){
               console.log(tweet_id,currentCount)
               const url = "/api/tweets/action"
               const method = "POST"
               const data = JSON.stringify({
                 id : tweet_id,
                 action: action
               }) 
               const xhr = new XMLHttpRequest()
               const csrftoken = getCookie('csrftoken');
               xhr.open(method,url)
               xhr.setRequestHeader("Content-Type","application/json")
               xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
               xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
               xhr.setRequestHeader("X-CSRFToken",csrftoken)
               xhr.onload = ()=>{
                   loadTweets(tweetsContainerElement)
              }
               xhr.send(data)
      }

      function likeBtn(tweet){
         return "<button class='btn btn-primary' onclick=handleTweetActionBtn("+tweet.id+","+tweet.likes+",'like')>"+tweet.likes+" Likes</button>"
      }

      function UnlikeBtn(tweet){
         return "<button class='btn btn-outline-primary' onclick=handleTweetActionBtn("+tweet.id+","+tweet.likes+",'unlike')>UnLike</button>"
      }

      function ReTweetBtn(tweet){
         return "<button class='btn btn-outline-success' onclick=handleTweetActionBtn("+tweet.id+","+tweet.likes+",'retweet')>ReTweet</button>"
      }


      function formatTweetElement(tweet){
        var formattedTweet = "<div class = 'col-12 col-md-10 mx-auto mb-4 border rounded py-3 tweet' id=tweet-'"+tweet.id 
                   +"'><p>"+tweet.content+"</p><div class='btn-group'>"+
                        likeBtn(tweet)+
                        UnlikeBtn(tweet)+
                        ReTweetBtn(tweet)+
                        "</div></div>";
        return formattedTweet
      }
         




  </script>

{% endblock content %}